<br />

<div class="booyah-box col-10 offset-1">
  <h1 class='text-center'>Team</h1>

  <%= image_tag image_path('forever_alone.png'), class: 'img-fluid' %>
  
  <p class='text-center'>
    There is no team. It's just me, myself, and I.
  </p>
</div>
